* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}
.container {
    width: 1140px;
    margin: 0px auto;
}
/* верхушка */
.header_main {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    height: 768px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-top: 34px;
}
.menu > li {
    list-style-type: none;
}
.top {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/illustration.png);;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}
.top_info h1 {
    width: 504px;
    padding-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.top_info p {
    width: 425px;
    padding-top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.top_button {
    background: #5A98D0;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 51px;
    margin-bottom: 50px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

/* карточки */
.what-we-do {
    margin-top: 64px;
}
.what-we-do .heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}
.card {
    width: 359px;
}










.content .triple_card {
    display: flex;
}
.content .triple_card .one_card {
    width: 359px;
    margin: 10px;
}
.content h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.content h3 {
    font-size: 36px;
    text-align: center;
}
.content h4 {
    font-size: 20px;
    line-height: 30px;
    color:#1f3f68;
}




/* форма контактов */
.contact_all {
    display: flex;
    justify-content: space-around;
}
.contactform input, textarea {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.contactform button {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

/* подвал */
.footer {
    background-color: silver;
    height: 300px;
}
.footer h3, p, a, div {
    background: transparent;
}
.footer_header {
    width: 495px;
}
.footer_header h3 {
    width: 340px;
}
.footer_info {
    display: flex;
    justify-content: space-between;
}