* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0px auto;
}

/* меню */
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    background-color: transparent;
}
.menu li {
    font-family: sans-serif;
    font: #111;
    list-style-type: none;
    background-color: silver;
    display: table-cell;
    width: 150px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.menu li a {
    text-decoration: none;
    background-color: transparent;
}
.menu li a:hover {
    color: #ff96ff;
}
.menu li a:active {
    color: red;
}

/* заголовок */
.header {
    background-color: skyblue;
    height: 500px;
}
.top {
    background: transparent;
    display: flex;
}
.top_info {
    background: transparent;
}
.top_info h1 {
    width: 510px;
}
.top_info p {
    width: 425px;
}

/* подвал */
.footer {
    background-color: silver;
    height: 300px;
}
.footer h3, p, a, div {
    background: transparent;
}
.footer_header {
    width: 495px;
}
.footer_header h3 {
    width: 340px;
}
.footer_info {
    display: flex;
    justify-content: space-between;
}

/* тело */
body {
    font-family: sans-serif;
}
p {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}
.top_info p {
    background: transparent;
}
.header h1 {
    font-size: 55px;
    color: #1f3f68;
    background: transparent;
}
.content .triple_card {
    display: flex;
}
.content .triple_card .one_card {
    width: 359px;
    margin: 10px;
}
.content h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.content h3 {
    font-size: 36px;
    text-align: center;
}
.content h4 {
    font-size: 20px;
    line-height: 30px;
    color:#1f3f68;
}

/* форма контактов */
.contact_all {
    display: flex;
    justify-content: space-around;
}
.contactform input, textarea {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.contactform button {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

